* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

ul,
li {
  list-style: none;
}

header {
  height: 50px;
  background: #fff;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  text-transform: uppercase;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}
.btns input[type=radio] {
  display: none;
}
.btns input[type=radio]:checked ~ span {
  background-color: red;
}
.btns span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: #fff;
  border-radius: 100%;
}

.paper {
  width: 80%;
  height: 0px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}
.paper.on {
  transition: all 0.5s ease;
  height: 300px;
}
.paper ul {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}
.paper ul li {
  width: calc((100% - 50px) / 6);
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  background: #fff;
}
.paper ul li.yellow {
  background-color: rgb(211, 144, 20);
}
.paper ul li.blue {
  background-color: rgb(28, 28, 177);
}
.paper ul li.red {
  background-color: rgb(194, 22, 22);
}
.paper ul li.black {
  background-color: black;
}
.paper ul li.green {
  background-color: rgb(11, 122, 11);
}