* {
  margin: 0;
  padding: 0;
}
body {
  background: #333;
}
ul,
li {
  list-style: none;
}

header {
  height: 50px;
  background: #fff;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    text-transform: uppercase; //대문자로 바꿔주는 것
  }
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked ~ span {
    background-color: red;
  }

  span {
    user-select: none;
    width: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color: #fff;
    border-radius: 100%;
  }
}

.paper {
  width: 80%;
  height: 0px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //   transform: scaleY(0); //높이를 일단 0으로...
  //   transform-origin: 50% 0;
  background-color: #fff;
  overflow: hidden;

  &.on {
    // transform: scaleY(1); //높이 다시 1로
    transition: all 0.5s ease;
    height: 300px;
  }

  ul {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;

    li {
      width: calc(
        (100% - 50px) / 6
      ); //100을 6으로 나눔 (원래 calc()쓰는 것처럼..
      aspect-ratio: 1 / 1; // 1:1 로 높이값을 줌. 가로세로 비율 똑같이 맞춰줌 (비율로 높이값 조정 가능)
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      color: #fff;
      font-weight: bold;

      background: #fff;
      &.yellow {
        background-color: rgb(211, 144, 20);
      }
      &.blue {
        background-color: rgb(28, 28, 177);
      }
      &.red {
        background-color: rgb(194, 22, 22);
      }
      &.black {
        background-color: black;
      }
      &.green {
        background-color: rgb(11, 122, 11);
      }
    }
  }
}
